<!-- Coursework Section -->
<div class="push-large"></div>
<div class="container" id="coursework">
    <h2 class="text-centered">Coursework</h2>
    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-4">
			<a href="<%= asset_path 'Macroeconomic Factor Model.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">MS&ampE 348</h2>
				<div class="class-description text-centered">Optimization of Uncertainty</div>
			</a>
        </div>
           <div class="col-lg-4">
			<a href="<%= asset_path 'Stats 306B.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">STATS 306B</h2>
				<div class="class-description text-centered">Unsupervised Machine Learning</div>
			</a>
        </div>
        <div class="col-lg-4">
			<a href="<%= asset_path 'Wedges.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">Energy 102</h2>
				<div class="class-description text-centered">Renewable Energy Sources</div>
			</a>
        </div>
    </div>

    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-4">
			<a href="<%= asset_path 'Platonic Solids.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">MATH 109</h2>
				<div class="class-description text-centered">Applied Group Theory</div>
			</a>
        </div>
        <div class="col-lg-4">
			<a href="<%= asset_path 'Betting Project.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">MS&ampE 211</h2>
				<div class="class-description text-centered">Linear &amp Non-linear Optimization</div>
			</a>
        </div>
        <div class="col-lg-4">
			<a href="<%= asset_path 'A Room Without A Book.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">ENGLISH 90</h2>
				<div class="class-description text-centered">Creative Writing: Fiction</div>
			</a>
        </div>
    </div>

    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-4">
			<a href="<%= asset_path 'Borgesian Thought Experiment.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">PWR 1GMR</h2>
				<div class="class-description text-centered">Rhetoric of the Double</div>
			</a>
        </div>
        <div class="col-lg-4">
			<a href="<%= asset_path 'Drawings Small.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">OSPMADRD 40</h2>
				<div class="class-description text-centered">Drawing with Spanish Masters</div>
			</a>
        </div>
        <div class="col-lg-4">
			<a href="<%= asset_path 'CME 108.pdf' %>" class="class-container">
				<h2 class="class-title text-centered">CME 108</h2>
				<div class="class-description text-centered"> Intro to Scientific Computing</div>
			</a>
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>