<!-- First Image -->
<%= image_tag "comillas.jpg", class: "first-background-image animate fadeIn", id: "top" %>

<!-- Diagonal separator-->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- About Me Section -->
<div class="push-large"></div>
<div class="container" id="about">
    <div class="row">
        <div class="col-lg-4">
            <%= image_tag "prof.jpg", class: "profile-picture" %>
        </div>
        <div class="col-lg-8">
             <h2 class="text-centered no-margin-top">About Me</h2>
             <p>I'm a part time poet and a mathematician.  I love to explore paths, to learn about new curiosities and expand my present bounds.  I hope to make a positive difference in this world by following my passion to promote the growth of both renewable and sustainable energy systems.  In my free time these days, I pursue data science projects, try to learn the ukulele, discover new music, and edit my book of poems. As a lifelong goal, I strive to live in wonder - to live with the unbridled optimism of Walt Whitman:<br><br><p class="text-centered"><i>Be not discouraged - keep on - there are divine things well envelop'd;<br>I swear to you there are divine things more beautiful than words can tell.</i></p>
            </p>
        </div>
    </div>
</div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Second Image-->
<%= image_tag "forest.jpg", class: "second-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Coursework Section -->
<%= render(:partial => "coursework")%> 

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Third Image -->
<%= image_tag "granada.jpg", class: "third-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Work Experience Section -->
<%= render(:partial => "work_experience")%> 

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Fourth Image -->
<%= image_tag "cotedazur6.jpg", class: "fourth-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Project I Section -->
<div class="push-large"></div>
<div class="container" id="projects">
    <h2 class="text-centered">NBA Paths to the Playoffs</h2>
    <h3></h3>
    <p>Beneath is my personal project work to create a visualization that charts the progression of an NBA team's season. Each graph charts the win-loss path of a team and uses the background to provide a comparison to past seasons as well as historical playoff probabilities.  The graphs below therefore represent a mixture of both historical and current NBA season data.  The major components are the background, the highlighted paths and the color gradients.<br><br><p class="tab"><i><b>Background:</i></b>  The underlying values of the backdrop come from a matrix of the historical probability that an NBA team made the playoffs, given that the team had y wins and x losses.  Each number inside each box indicates this exact probability.  The data were collected from basketball-reference.com for the 1978/79 season (the year of the NBA/ABA merger) through the 2014/15 season.<br><br><i><b>Paths:</i></b>  As a layer on top of these historical probabilities, there is a highlighted path which shows the current progress of a team moving through the 82 game season.  At a glance, teams that rise to the top left quadrant have true championship hopes, whereas teams stuck in the bottom right are simply waiting for the next LeBron.<br><br><i><b>Color Gradients:</i></b>  Every background color gradient comes from the corresponding team's colors.  The top left color represents a 100% historical probability of making the playoffs given the team's record, the middle color represents a 50% historical probability and the bottom right color represents a 0% historical probability.  Every path color gradient uses the same historical probabilities as its base values and uses the simple green = 100%, yellow = 50%, red = 0% spectrum, while shading the in-between values appropriately.
    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-6">
            <%= render(:partial => "drop_west") %>    
        </div>
        <div class="col-lg-6">
            <%= render(:partial => "drop_east") %>    
        </div>
    </div>
     </p><br>Future directions of this data visualization project include a few of the following ideas: <br><br><p class="tab"><b>(i)</b> Build underlying predictive models to visualize the likely potential paths of a team toward the playoffs <br><b>(ii)</b> Incorporate all previous seasons to view how teams from the past made it into the playoffs <br><b>(iii)</b> Make the graph both live in d3 and interactive</p>
    </div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Fifth Image -->
<%= image_tag "provence.jpg", class: "fifth-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Project II Section -->
<div class="push-large"></div>
<div class="container" id="projects">
    <h2 class="text-centered">Traveling Salesman Problem</h2>
    <h3> TSP Algorithms </h3>
    <p><br>The visualizations shown below grew out of the difficult personal experience of tightly budgeting a long backpacking trip through Europe.  To save money, it seemed advantageous to travel in the manner of a greedy algorithm, optimizing for distance (i.e. going to the first closest destination, then all successively closest destinations).  The logic assumes that to minimize the distance is also to minimize the overall travel cost.  In reality, however, there are several factors which could confound this assumption: promotional travel deals, seasonal price variations, and unusual transportation routes, amongst others. <br><br>A brief look into the problem area showed me that I'd come across a variation of the Traveling Salesman Problem (TSP).  The problem asks, "Given a list of cities and distances between them, what is the shortest way for a salesman to visit each city exactly once and return to the original city?" My version simply replaces "distance" by "cost to visit" and is a mathematically identical formulation.  Therefore, I gathered travel cost data between the 21 cities I planned to visit, and began to solve the problem.  I used two basic optimization approaches: a greedy algorithm and the 2-Opt algorithm. <br><br><p class="tab"><i><b>Greedy Algorithm:</i></b>  This optimization procedure simply took my city of origin, Paris, and initially went to the cheapest place, Brussels.  Then, it successively went on the cheapest trip to the next city, ending with a trip that would cost 1676€.  This was a decent start, but the nature of the greedy algorithm is myopic and ends at a local minimum with no guarantee of having found the optimal solution.  This led me to 2-Opt.<br><br><i><b>2-Opt:</i></b>  The 2-Opt solution to the TSP aims to fix the narrow sight of the greedy algorithm by doing a corrective survey of the initial greedy groundwork.  Visually, any two paths that would cross each other in the greedy solution get uncrossed, and if the change results in a cost improvement, the swap is kept.  Therefore, a functional 2-Opt solution can at best improve upon the local minimum found by the greedy algorithm, and at worst, be the same.</p><br>
    <h3> TSP Slopegraphs </h3>
    <p><br>The slopegraphs found below show a bit of the work I put into creating a useful visualization of different possible paths through Europe.  Visually, the highlighted paths in green represent the best cost saving swaps.  On the left, for instance, we find that going to Ravello from Florence is 360€ cheaper than going from Zagreb.  Vice versa, the higlighted red paths represent swaps that lose money - on the left, getting to London from Copenhagen instead of Paris is more expensive. <br><br> The visualization on the left aims to show that the shortest path through these 21 European cities, as found by the 2-Opt algorithm minimizing distance, is a much more expensive option than the cheapest path, as found by 2-Opt algorithm minimizing cost.  On the right hand side, the visualization demonstrates that the greedy algorithm's path, while somewhat effective, also does not result in the cheapest path. Instead, it can and should be tweaked to save some money.  For a traveler on a tight budget, finding even these small savings can make all the difference on a trip. </p>
    <div class="push-small"></div>
    <div class="row">
        <div id="tsp-img-container">
        <div class="col-lg-6">
            <%= image_tag "travel_cost_slopegraph_2.png", class: "tsp-picture" %>   
        </div>
    </div>
        <div id="tsp-img-container">
        <div class="col-lg-6">
           <%= image_tag "travel_cost_slopegraph_1.png", class: "tsp-picture" %> 
        </div>
    </div>
    </div>
    <div class="push-small"></div>
    <h3> TSP Assumptions </h3>
    <p><br> In order to create the visualizations, I made a few assumptions about the data that simplified the problem, making it more of a theoretical and visual exercise than a practical solution to the travel planning issue.  Here are a few of the more pressing limitations. <br><br><p class="tab"><i><b>Monthly Averages:</i></b> I chose to collect travel cost data between these cities only for the month of September in 2015 because it was most readily available.  I used Google Flights, Rome2Rio, RailEurope and Eurolines as my sources and simply took monthly averages of the cheapest transport option on each day.  This gives a poor picture of true cost since costs fluctuate by days, weeks, months, seasons and are subject to special offers. <br><br><i><b>Scheduling:</i></b> In a similar vein, the use of monthly averages does not incorporate the issue of planning in almost any way.  I did not try to account for the number of days that might be spent in any location, so the travel costs do not reflect a true schedule. <br><br><i><b>Symmetry:</i></b> Lastly, I assumed that traveling from A → B costs the same as B → A, a symmetry that does not always exist in the real world.  While this made the data collection and mathematics simpler, it is not a true reflection of travel costs.

</div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Sixth Image -->
<%= image_tag "big-bend.jpg", class: "sixth-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Project III Section -->
<div class="push-large"></div>
<div class="container" id="projects">
    <h2 class="text-centered">Poetry Analysis</h2>
    <h3> LDA Algorithm </h3>
    <p><br>This section dives into a textual analysis of a group of 48 personal poems which I am compiling into a book.  As I began to edit my poems, I began to wonder how exactly each of the words were related to each other.  I began to wonder if there were a discernible pattern that I could elicit with mathematics.  As it turns out, a common text analysis algorithm called Latent Dirichlet Allocation (LDA) can help determine relationships between words in a text.  <br><br> The LDA algorithm takes a body of text and splits it into however many topics (i.e. groups) that the user believes are structured in the text.  Analysis of LDA can give likelihoods of whether the model fit and the number of topics chosen actually represent the truth behind the data.  The visualizations below come from 12 poems each which I determined to have 23 topics.  The point in the center represents the word with the most connections to other words, and each line represents such a connection.
    <div class="push-small"></div>
    <div class="row">
        <div id="poem-img-container">
        <div class="col-lg-6">
            <%= image_tag "poem_wheel_1.png", class: "poem-picture" %>   
        </div>
    </div>
        <div id="poem-img-container">
        <div class="col-lg-6">
           <%= image_tag "poem_wheel_2.png", class: "poem-picture" %> 
        </div>
    </div>
    </div>
    <div class="push-small"></div>

    <div class="row">
        <div id="poem-img-container">
        <div class="col-lg-6">
            <%= image_tag "poem_wheel_3.png", class: "poem-picture" %>   
        </div>
    </div>
        <div id="poem-img-container">
        <div class="col-lg-6">
           <%= image_tag "poem_wheel_4.png", class: "poem-picture" %> 
        </div>
    </div>
    </div>

</div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Sixth Image -->
<%= image_tag "wales.jpg", class: "sixth-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Project IV Section -->
<div class="push-large"></div>
<div class="container" id="projects">
    <h2 class="text-centered">Tree of Trees</h2>
    <h3> Arbourtrary Visualization </h3>
    <p><br>Throughout my life, I've spent hundreds of hours climbing all varities of trees.  There's nothing quite like the smooth feeling of acension, leaning to hang with the wind and the leaves and the sun.  At Stanford, I had the amazing luck to be in a place with hundreds of types to climb.  Every year, I gathered loquats, oranges, lemons and avocados from the campus and spent bright afternoons reading the works of great poets: Langston Hughes, Stephen Dunn, Maya Angelou, Walt Whitman, and Seamus Heaney among others.   <br><br> Upon realizing how little I knew about the origin of trees or how modern species are related to each other, I decided to do a small project to learn more.  I chose 10 of my favorite species of trees that have been important in my lifetime.  These were the Quercus virginiana (Texas live oak), Delonix regia - (flamboyan), Salix babylonica - (willow), Roystonea borinquena - (palm tree), Eucalyptus globulus - (eucalyptus) Eriobotrya japonica - (loquat), Citrus limon - (lemon), Citrus orange - (orange), Populus deltoides - (cottonwood), and Sequoia sempervirens - (redwood). <br><br> These were all species that came from my experiences in Texas, Puerto Rico and California.  I have climbed at least one tree of each type and in the visualization below I have shown the tallest such tree that I have personally encountered and its approximate height.  The phylogenetic tree acts as a tree of trees and a stylized legend to help understand how closely (or not) these trees are related to each other genetically.  The oldest and least related to the others is the Redwood tree, while the two most closely related are the Lemon and Orange trees.
    <div class="push-small"></div>

    <div class="push-small"></div>
    <div class="row">
        <div id="tree-img-container">
            <%= image_tag "tree_heights_3 4.png", class: "tree-picture" %>   
       </div>
   </div>
<div class="push-large"></div>



<!-- Diagonal Separator -->
<div class="fifth-background" id="contact">
    <div class="push-small"></div>
    <h2 class="text-centered">Contact Me</h2>
    <h4 class="text-centered link-text-color">dnewcomb@stanford.edu</h4>
    <div class="push-small"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-2 col-md-2 col-sm-6 linkedin-container">
                <a href="https://www.linkedin.com/pub/david-newcomb/76/552/53b">
                    <%= image_tag "linkedin.png", class: "logo", id: "linkedin" %>
                    <%= image_tag "linkedin-highlighted.png", class: "logo", id: "l-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">LinkedIn</h3>
                 
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 resume-container">
                <!--  Change the name of the pdf below and place your resume in the /assets/images folder -->
                <a href="<%= asset_path 'David Newcomb Resume.pdf' %>">
                    <%= image_tag "file.png", class: "logo", id: "resume" %>
                    <%= image_tag "file-highlighted.png", class: "logo", id: "r-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">Resume</h3>
                
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 instagram-container">
                <a href="https://instagram.com/arbourtrary/">
                    <%= image_tag "instagram.png", class: "logo", id: "instagram" %>
                    <%= image_tag "instagram_highlighted.png", class: "logo", id: "i-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">Instagram</h3>
                 
            </div>
        </div>
    </div>
    <div class="push-small"></div>
</div>