<!-- First Image -->
<%= image_tag "basketball.jpg", class: "top-background-image animate fadeIn", id: "top" %>

<!-- Diagonal separator-->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- About Me Section -->
<div class="push-large"></div>
<div class="push-small"></div>
<div class="container" id="about">
    <div class="row">
        <div class="col-lg-4">
            <%= image_tag "profile.jpg", class: "profile-picture" %>
        </div>
        <div class="col-lg-8">
             <h2 class="text-centered no-margin-top">About Me</h2>
             <p>David Newcomb ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum dolor ut enim blandit venenatis id sit amet quam. Proin in risus malesuada, elementum urna id, iaculis urna. Nulla tristique venenatis purus, posuere euismod urna vehicula in. Ut varius tellus in justo laoreet, sit amet finibus nisi consectetur. Etiam eu risus pulvinar, imperdiet lectus vitae, pulvinar orci. Aliquam erat volutpat. Fusce consectetur risus sed pulvinar aliquam. Donec sed tristique ante. Etiam tortor massa, tempus nec arcu quis, pellentesque bibendum ex. Duis dictum eleifend ex in facilisis. Donec condimentum odio eu urna iaculis, luctus lacinia sem vehicula. Vestibulum vehicula consectetur urna sit amet consectetur. Aenean volutpat a libero eget tincidunt. 
            </p>
        </div>
    </div>
</div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Second Image-->
<%= image_tag "forest.jpg", class: "second-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Coursework Section -->
<div class="push-large"></div>
<div class="container" id="coursework">
    <h2 class="text-centered">My Coursework</h2>
    <div class="row">
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
    </div>
    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-container">
                <h2 class="class-title text-centered">CS 107</h2>
                <div class="class-description text-centered">Computer Organization and Systems </div>
            </div>
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Third Image -->
<%= image_tag "ocean.jpg", class: "third-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Work Experience Section -->
<div class="push-large"></div>
<div class="container" id="coursework">
    <h2 class="text-centered">My Work Experience</h2>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">TXU</h3>
            <h4 class="secondary-text-color text-centered">Energy Consultant</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2012</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam at laoreet arcu. Fusce eu tortor ut ante efficitur hendrerit at vel felis. Etiam ut eleifend urna. Morbi venenatis porttitor mattis. Morbi non lectus et tortor tempor laoreet.</p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">Samsung</h3>
            <h4 class="secondary-text-color text-centered">Business Analyst</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2013</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam at laoreet arcu. Fusce eu tortor ut ante efficitur hendrerit at vel felis. Etiam ut eleifend urna. Morbi venenatis porttitor mattis. Morbi non lectus et tortor tempor laoreet.</p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">Energy Company</h3>
            <h4 class="secondary-text-color text-centered">Data Analyst</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2014</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam at laoreet arcu. Fusce eu tortor ut ante efficitur hendrerit at vel felis. Etiam ut eleifend urna. Morbi venenatis porttitor mattis. Morbi non lectus et tortor tempor laoreet.</p>
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Fourth Image -->
<%= image_tag "climb-long.jpg", class: "fourth-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Projects Section -->
<div class="push-large"></div>
<div class="container" id="projects">
    <h2 class="text-centered">Projects</h2>
    <h3>NBA Playoff Predictions</h3>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam at laoreet arcu. Fusce eu tortor ut ante efficitur hendrerit at vel felis. Etiam ut eleifend urna. Morbi venenatis porttitor mattis. Morbi non lectus et tortor tempor laoreet. Sed blandit mauris at lectus sagittis, et iaculis quam vulputate. Nulla cursus nisi congue augue eleifend, quis venenatis leo efficitur.</p>
    <div class="row">
        <div class="col-lg-6">
            <%= render(:partial => "drop_west") %>    
        </div>
        <div class="col-lg-6">
            <%= render(:partial => "drop_east") %>    
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="fifth-background" id="contact">
    <div class="push-small"></div>
    <h2 class="text-centered">Contact Me</h2>
    <h4 class="text-centered link-text-color">dnewcomb@stanford.edu</h4>
    <div class="push-small"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 linkedin-container">
                <a href="https://www.linkedin.com/pub/david-newcomb/76/552/53b">
                    <%= image_tag "linkedin.png", class: "logo", id: "linkedin" %>
                    <%= image_tag "linkedin-highlighted.png", class: "logo", id: "l-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">LinkedIn</h3>
                 
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 resume-container">
                <a href="#">
                    <%= image_tag "file.png", class: "logo", id: "resume" %>
                    <%= image_tag "file-highlighted.png", class: "logo", id: "r-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">Resume</h3>
                
            </div>
        </div>
    </div>
    <div class="push-small"></div>
</div>