<!-- First Image -->
<%= image_tag "comillas.jpg", class: "top-background-image animate fadeIn", id: "top" %>

<!-- Diagonal separator-->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- About Me Section -->
<div class="push-large"></div>
<div class="push-small"></div>
<div class="container" id="about">
    <div class="row">
        <div class="col-lg-4">
            <%= image_tag "profile.jpg", class: "profile-picture" %>
        </div>
        <div class="col-lg-8">
             <h2 class="text-centered no-margin-top">About Me</h2>
             <p>I'm a part time poet and a mathematician.  I love to explore new paths, new heights, to learn about new curiosities and expand my present bounds.  I hope to make a positive difference in this world, and to do so where my passion lies: promoting the growth of renewable and sustainable energy systems.  I hope to help clean up our energy sources, to help us become more and more energy efficient, thereby addressing several imminent issues with lasting, flexible fixes.  In my free time these days, I play Ultimate Frisbee, try to learn the ukulele, discover new poetry, new music, and explore San Francisco.  As a lifelong goal, I strive to live in wonder - to live with the unbridled optimism of the poet Whitman:<br><br><p class="text-centered"><i>Be not discouraged - keep on - there are diving things well envelop'd;<br>I swear to you there are divine things more beautiful than words can tell.</i></p>
            </p>
        </div>
    </div>
</div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Second Image-->
<%= image_tag "forest.jpg", class: "second-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Coursework Section -->
<div class="push-large"></div>
<div class="container" id="coursework">
    <h2 class="text-centered">Coursework</h2>
    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Macroeconomic Factor Model.pdf' %>">
                <h2 class="class-title text-centered">MS&ampE 348</h2>
                <div class="class-description text-centered">Optimization of Uncertainty</div>
                </a>
            </div>
        </div>
           <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Stats 362.pdf' %>">
                <h2 class="class-title text-centered">STATS 362</h2>
                <div class="class-description text-centered">Topic: Monte Carlo</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Wedges.pdf' %>">
                <h2 class="class-title text-centered">Energy 102</h2>
                <div class="class-description text-centered">Renewable Energy Sources</div>
                </a>
            </div>
        </div>
    </div>

    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Platonic Solids.pdf' %>">
                <h2 class="class-title text-centered">MATH 109</h2>
                <div class="class-description text-centered">Applied Group Theory</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Betting Project.pdf' %>">
                <h2 class="class-title text-centered">MS&ampE 211</h2>
                <div class="class-description text-centered">Linear &amp Non-linear Optimization</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'A Room Without A Book.pdf' %>">
                <h2 class="class-title text-centered">ENGLISH 90</h2>
                <div class="class-description text-centered">Creative Writing: Fiction</div>
                </a>
            </div>
        </div>
    </div>

    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Borgesian Thought Experiment.pdf' %>">
                <h2 class="class-title text-centered">PWR 1GMR</h2>
                <div class="class-description text-centered">Rhetoric of the Double</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'Drawings Small.pdf' %>">
                <h2 class="class-title text-centered">OSPMADRD 40</h2>
                <div class="class-description text-centered">Drawing with Spanish Masters</div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="class-container">
                <a href="<%= asset_path 'CME 108.pdf' %>">
                <h2 class="class-title text-centered">CME 108</h2>
                <div class="class-description text-centered"> Intro to Scientific Computing</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Third Image -->
<%= image_tag "ocean.jpg", class: "third-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Work Experience Section -->
<div class="push-large"></div>
<div class="container" id="work">
    <h2 class="text-centered">Work Experience</h2>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">Carbon Lighthouse</h3>
            <h4 class="secondary-text-color text-centered">Data Scientist</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2014</h4>
            <p>At Carbon Lighthouse (an awesome company that performs energy efficiency projects on large buildings), I was given the opportunity to delve into building energy usage data.  My goal was to help CL ensure that it was delivering true energy savings to its customers.  To accomplish this, I built a Measurement &amp Verification tool in R for the engineering team that made predictions based on multilinear regression models.<br><br>I performed extensive factor analysis and used stepwise Akaike Information Criterion (AIC) regression to find predictive models that minimized complexity while explaining much of the variance of building energy use.  Next, I used bootstrapping on the root mean squared error (RMSE) and R-squared values of the models to ensure autocorrelation in the data did not affect the validity of the models.  I also tested for overfitting of the model by sampling various subsets of training data, predicting onto remaining test data and comparing RMSE values.<br><br>Holistically, the tool was built to be flexible enough for the engineering team to input building specific values (bldg. schedule, weather, building changes, etc.), to build their own models (and test them with the methods from the previous paragraph), and to receive graphical and statistical outputs at the end.  These outputs let the team know whether the building overperformed, underperformed or performed exactly as expected one year after the implementation of an energy efficiency project.</p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">Samsung</h3>
            <h4 class="secondary-text-color text-centered">Business Analyst</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2013</h4>
            <p>I spent this summer as the inaugural intern for the Open Innovation Center, a branch of Samsung that aims to work with Silicon Valley start-ups through partnerships, mergers, acquisitions or incorporation into the Samsung Start-up Accelerator.  In addition to meeting with several start-ups, I was tasked with recommending a strategy for Samsung in the mobile messaging app space.  In order to evaluate the mobile messaging app companies rigorously, I collected as much data as I could on approximately 30 such companies.<br><br>The data varied from number of users to years since inception to money raised to other details.  With this data, I ran Principal Component Analysis (PCA) to understand what combination of factors were most important, and calculated PCA scores in order to rank the various companies.  After ranking the apps in this mannner, I grouped the apps according to their scores and was able to make inferences about each group.<br><br>In the end, I chose to present two recommendations: one from the well established group with tens of millions of users and one from the early stage start-up group that showed promising features and quick user adoption.  The first recommendation was to acquire WhatsApp (Facebook did so about 6 months later) and the second was to acquire MightyText, an app with a sleek interface and solid cross-platform integrability that has continued to show promise.</p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class="col-lg-3">
            <h3 class="class-title text-centered">TXU Energy</h3>
            <h4 class="secondary-text-color text-centered">Financial & Environmental Analyst</h4>
        </div>
        <div class="col-lg-9">
            <h4>Summer 2012</h4>
            <p>My two main summer projects dealt separately with profitability and environmental initiatives for the Texas electricity provider TXU Energy.  In my first project, I built a scenario analysis tool in Excel to gauge the profitability of swapping customers from obsolete electricity plans to current plans.  In the tool, customer retention rate, expected natural gas prices, and expected electricty usage (among other variables) could be modified to reflect various conditions.<br><br>In my second project, I worked to help renew TXU's partnership with SolarCity, a partnership aimed at getting TXU customers to install solar panels.  My role included colloboration on website design and using Survey Monkey on a test group to help determine which wording emphases could most effectively promote the program.  I wrote material emphasizing different motivations, ranging from saving the environment to reducing one's carbon footprint to saving money in the long run.  In the end, the message which resounded with the test group most (i.e. in a statistically significant manner) focused on saving money, whereas the message with the least effect, unsurprisingly, focused on carbon footprints.</p>
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_appended"></div>
</div>

<!-- Fourth Image -->
<%= image_tag "granada.jpg", class: "fourth-background-image" %>

<!-- Diagonal Separator -->
<div class="remaining">
    <div class="skew_prepend"></div>
</div>

<!-- Projects Section -->
<div class="push-large"></div>
<div class="container" id="projects">
    <h2 class="text-centered">Projects</h2>
    <h3>NBA Paths to the Playoffs</h3>
    <p>The graphs below represent a mixture of historical and current NBA season data.  The major components are the background, the highlighted paths and the color gradients.<br><br><p class="tab"><i><b>Background:</i></b>  The underlying values of the backdrop come from a matrix of the historical probability that an NBA team made the playoffs, given that the team had y wins and x losses.  Each number inside each box indicates this exact probability.  The data were collected from ESPN for the 2002/03 season through the 2014/15 season and I'm currently working on collecting more years of season data to improve the completeness and stratification of the visualization.<br><br><i><b>Paths:</i></b>  As a layer on top of these historical probabilities, there is a highlighted path which shows the current progress of a team moving through the 82 game season.  At a glance, teams that rise to the top left quadrant have true championship hopes, whereas teams stuck in the bottom right are simply waiting for the next LeBron.<br><br><i><b>Color Gradients:</i></b>  Every background color gradient comes from the corresponding team's colors.  The top left color represents a 100% historical probability of making the playoffs given the team's record, the middle color represents a 50% historical probability and the bottom right color represents a 0% historical probability.  Every path color gradient uses the same historical probabilities as its base values and uses the simple green = 100%, yellow = 50%, red = 0% spectrum, while shading the in-between values appropriately.</p><br>Future directions of this data visualization project are to (i) build underlying predictive models to visualize the likely potential paths of a team toward the playoffs (ii) make the graph live and interactive and (iii) incorporate all previous seasons to view how teams from the past made it into the playoffs.</p>
    <div class="push-small"></div>
    <div class="row">
        <div class="col-lg-6">
            <%= render(:partial => "drop_west") %>    
        </div>
        <div class="col-lg-6">
            <%= render(:partial => "drop_east") %>    
        </div>
    </div>
</div>
<div class="push-large"></div>
<div class="push-large"></div>

<!-- Diagonal Separator -->
<div class="fifth-background" id="contact">
    <div class="push-small"></div>
    <h2 class="text-centered">Contact Me</h2>
    <h4 class="text-centered link-text-color">dnewcomb@stanford.edu</h4>
    <div class="push-small"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-2 col-md-2 col-sm-6 linkedin-container">
                <a href="https://www.linkedin.com/pub/david-newcomb/76/552/53b">
                    <%= image_tag "linkedin.png", class: "logo", id: "linkedin" %>
                    <%= image_tag "linkedin-highlighted.png", class: "logo", id: "l-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">LinkedIn</h3>
                 
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 resume-container">
                <!--  Change the name of the pdf below and place your resume in the /assets/images folder -->
                <a href="<%= asset_path 'David Newcomb Resume.pdf' %>">
                    <%= image_tag "file.png", class: "logo", id: "resume" %>
                    <%= image_tag "file-highlighted.png", class: "logo", id: "r-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">Resume</h3>
                
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 instagram-container">
                <a href="https://instagram.com/arbourtrary/">
                    <%= image_tag "instagram.png", class: "logo", id: "instagram" %>
                    <%= image_tag "instagram_highlighted.png", class: "logo", id: "i-secondary-color" %>
                </a>
                <h3 class="text-centered secondary-text-color">Instagram</h3>
                 
            </div>
        </div>
    </div>
    <div class="push-small"></div>
</div>